* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    text-decoration: none;
  }
  
  .nav-bar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .nav-bar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #nav-bar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  
  .nav-bar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .nav-bar__item {
    height: 80px;
  }
  
  .nav-bar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  .nav-bar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fff;
    color: #000;
  }
  
  .button:hover {
    background: #7B26D5;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .nav-bar__links:hover {
    color: #7B26D5;
    transition: all 0.3s ease;
  }

@media screen and (max-width: 960px) {
    .nav-bar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        max-width: 1300px;
        padding: 0;
    }
    
    #nav-bar__logo {
        padding-left: 25px;
    }
    
    .nav-bar__menu {
        display: grid;
        grid-template-columns: auto;
        margin:0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .nav-bar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .nav-bar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .nav-bar__item {
        width: 100%;
    }

    .nav-bar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-bar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .nav-bar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/* Hero Section CSS HOME */
.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self:center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
}

.main__content {
    width: 100%;
}

.main__content h1 {
    font-size: 3.5rem;
    color: #fff;
}

.text-highlight {
    font-size: 4rem;
    color: #0071f3;
}

.main__content p {
    font-size: 2rem;
    margin-top: 8px;
    margin-right: 8px;
    color: #dbdbdb;
}

.main__btn {
    font-size: 1rem;
    padding: 14px 32px;
    background: #fff;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #000;
    text-decoration: none;
}
.main__btn a:hover {
    position: relative;
    z-index: 2;
    color: #FFF;
    text-decoration: none;
}
.main__btn:hover {
    background: #7B26D5;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 425px;
    width: 400px;
    border-radius: 20px;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
        padding-left: 25px;
        padding-right: 25px;
    }

    .main__content {
        text-align: center;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
    #main__img {
        height: 400px;
        width: 300px;
    }
}

/* Images */
.images {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.images h2 {
    color: #fff;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.images__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images__card {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/monkey.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(2) {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/monkey-2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(3) {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/monkey-3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(4) {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/cat.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(5) {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/cat-2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.images__card:nth-child(6) {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/monkey-4.jpg');
    background-size: 100% 100%;
    position: relative;
    color: #fff;
}



.images__card:before {
    opacity: 0.2;
}

.images__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
    font-size: 1.2rem;
}

.images__card p {
    position: absolute;
    top: 380px;
    left: 30px;
    font-size: 0.8rem;
}

.images__card:hover {
    transform: scale(1.01);
    transition: 0.1s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .images h2 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}


@media screen and (max-width: 480px) {
    .images h2 {
        font-size: 1.2rem;
    }

    .images__card {
        width: 300px;
    }
    .images__card {
        margin: 1rem;
        height: 400px;
        width: 300px;
    }
    .images__card:nth-child(2) {
        height: 400px;
        width: 300px;
    }
    
    .images__card:nth-child(3) {
        height: 400px;
        width: 300px;
    }
    
    .images__card:nth-child(4) {
        height: 400px;
        width: 300px;
    }
    
    .images__card:nth-child(5) {
        height: 400px;
        width: 300px;
    }
    
    .images__card:nth-child(6) {
        height: 400px;
        width: 300px;
    }
    
}


/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    text-align: center;
}

.website__rights {
    color: #fff;
}


/* _________________________collection page__________________________________ */
.statistic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.statistic .expensive {
    border-radius: 20px;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('/images/monkey-4.jpg'); */
    background-size: 100% 100%;
    position: relative;
    color: #fff;
    width: 280px;
    height: 320px;
}
.statistic .cheap {
    border-radius: 20px;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), */
    /* url('/images/monkey-3.jpg'); */
    background-size: 100% 100%;
    position: relative;
    color: #fff;
    width: 280px;
    height: 320px;
}
.statistic .cheap h2,
.statistic .expensive h2 {
    /* position: absolute; */
    top: 350px;
    left: 30px;
    font-size: 1.2rem;
}
.statistic .cheap p,
.statistic .expensive p {
    /* position: absolute; */
    top: 380px;
    left: 30px;
    font-size: 0.8rem;
}
.collections {
    width: 100%;
    padding: 50px 50px;
    background-color: #141414;
    text-align: center;
}
.collections h2{
    color: white;
    margin-bottom: 5vh;
}
.add_your_collection {
    background-color: #7B26D5;
    width: 150px;
    height: 50px;
    border-radius: 4px;
    margin-bottom: 30px;
}
.add_your_collection a{
    color: white;
    text-decoration: none;
} 
.add_your_collection a:hover{
    color: white;
    text-decoration: none;
} 

.collections__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2vw;
    column-gap: 2vw;
}
.Explore {
    background-color: #7B26D5;

}
.collection_info {
    margin-bottom: 20px;
}
.collection_info p {
    text-align: left;
}

.signin {
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.card {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}